
<p>CURRENTLY WORKING ON THIS COMPONENT....</p>
<div id="title">
    <div id="imgs">
        <h2 id="Name">Roberto Lago</h2>
        
   </div>    
</div>

<h1 id="FrontEnd">{{subtitle}}</h1>




<article id="about">
<h3>About me</h3>

<p id="lastP"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Ratione nobis, vitae nesciunt, id amet libero optio delectus obcaecati est vel sit accusantium nemo voluptates natus fugiat sint.
     Quasi, magnam voluptate?</p>



</article>