

#title{display: flex;
    flex-direction: column;
}


#title h2{
    display: flex;
    margin-bottom: 100px;
    margin-left:290px;
    text-shadow: 0px 0px 2px #bebebed7;
    font-style: italic;
    font-weight: 500;
    
}
h1{
    margin: 0px auto;
    margin-top: 18px;
    font-size: clamp(12px, 1.2vw + 1vh + 0.5vmin, 36px);
    color: var(--text-color);
    padding-bottom:2%;
    border-bottom: 1px solid grey;
    width: 50%;
}
#title p{
    margin-bottom: 0px;
   
}
#imgs{
    display: flex;
}
#imgName{
    position: relative;
    left: 15%;
    width:45% ;
    margin-bottom: 20px;
    margin-top: 1.5%;

}
#imgSelf{
    margin-top: 3.5%;
    margin-left: 22%;
    width: 15%;
    height: 16%;
}
article#about{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2%;

}
#about p{
    padding-bottom: 20px;
    text-align: center;
}
