<div id="title">
    <div id="imgs">
        <img  id="imgName" src="../../../assets/img/Nombre-firma.png" alt="name-img">
        <img id="imgSelf" src="../../../assets/img/self-pic.png" alt="picturePortrait">
   </div>    
</div>

<h1 id="FrontEnd">{{subtitle}}</h1>




<article id="about">
<h3>About me</h3>

<p id="lastP"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Ratione nobis, vitae nesciunt, id amet libero optio delectus obcaecati est vel sit accusantium nemo voluptates natus fugiat sint.
     Quasi, magnam voluptate?</p>



</article>