<body>
<div class="menu">
    <a id="menuButton" #menuButton href=""><i class="fa-solid fa-bars"></i></a>
 <ul>
    <li><a  [routerLink]="['/about-me']" routerLinkActive="router-link-active" >About Me</a></li>
    <li><a  [routerLink]="['/technologies']" routerLinkActive="router-link-active" >Technologies</a></li>   
    
    <li><a  [routerLink]="['/projects']" routerLinkActive="router-link-active" >My Projects</a></li>  
    <li><a  [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Me</a></li>
    <li><a href="#">CV<i class="fa-solid fa-file-arrow-down icono"></i></a></li>
    

</ul>
</div>

</body>