/* General colors VAR */

:root{
   --main-color: #080F0F;
   --second-color: #A4BAB7;
   --support-color-1:#EFF2C0;
   --support-color-2:#BEA57D;
   --support-color-3:#A06B40;
   --support-color-4:#4099a0;

}





/* Fonts */

@font-face {
    font-family:"Baskerville";
    
    src: url('fonts/LibreBaskerville-Bold.ttf');
    font-weight: 700;
    font-style: bold;

}

@font-face {
    font-family:"Baskerville";
    src: url('fonts/LibreBaskerville-Italic.ttf');
    font-style: italic;

}
@font-face {
    font-family:"Baskerville";
    src: url('fonts/LibreBaskerville-Regular.ttf');
    font-style: normal;
    

}


strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
/* GENERAL PALET COLOR */






/* GENERAL STYLES */

:root{
    color-scheme: light dark;
    font-family: Baskerville,serif ;
    font-size: 24px;
    font-weight: 400;   
    font-style: normal; 
    
}

body::after{
    content: "";  
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url('../img/background1.webp') no-repeat center center;  
    background-size: cover;  
    filter: blur(4px);  
    z-index: -1;  

}
body{

    margin: 0px; 
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}
h1{
    font-size: clamp(24px, 2vw + 1vh + 0.5vmin, 50px);
    color: var(--support-color-1);
}
h2{
    font-size: clamp(14px, 1vw + 0.6vh + 0.35vmin, 40px);
    color:var(--support-color-1);
    text-shadow: 0px 0px 2px #bebebed7;
    
}
h3{
    font-size: clamp(12px, 1vw + 0.6vh + 0.35vmin, 32px);
    color: var(--support-color-1);
    text-shadow: 0px 0px 2px #bebebef3;
}
p{
    font-size: clamp(10px, 1vw + 0.6vh + 0.35vmin, 25px);
    color: var(--main-color);
    text-shadow: 0px 0px 2px #bebebeee;
}


/* HEARDER OR NAV BAR */

header{
    
    
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(to top, #ffffff00 0%, #eff2c0 10%);
    text-transform: uppercase;
    margin-bottom: 50px;
    
}

header ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    font-style: italic;
    
    
}

header ul li a{
    font-size: clamp(8px, 1vw + 1vh + 0.2vmin, 26px);
    
    text-decoration: none;
    color: var(--support-color-2);
    -webkit-text-stroke: 0.2px var(--support-color-2);
    transition: all 0.5s;
    
}
header ul li a:hover{
   
    color: var(--support-color-4);
    -webkit-text-stroke: 0.2px var(--support-color-4);
    text-shadow: 0px 0px 2px var(--support-color-2);
}
#logo img{
    display: flex;
    border-radius: 2px;
    position:relative;
    height: 60px;
    margin:-7px;
   
    z-index: 5000;
    transition: all 0.6s;
}
#logo img:hover{
    
    transform: scale(1.3,1.3);
}



/* MAIN CONTAINER  */

#content{
    width: 70%;
    margin: 0px auto;
    border-left: 18px solid var(--support-color-1);
    border-right: 18px solid var(--support-color-1);
    
    box-shadow: 0 0 6px var(--second-color);
    
    background: var(--support-color-2);
    border-radius: 5px;
    text-align: center;
}
#content h1{
  padding-top: 15px;
}
#content h2{
   
    text-shadow: 0px 0px 2px #bebebed7;
    font-style: italic;
    font-weight: 500;
}
#content h3{
  
    font-weight: 500;

}
#content p{
    font-size: clamp(10px, 1vw + 0.6vh + 0.35vmin, 21px);
}
#lastP{
    padding-bottom: 25px;
}






/* FOOTER */

footer{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: fixed;
   align-items: center;
   bottom: -0.3%;
   background: linear-gradient(to bottom, #ffffff00 0%, #eff2c0 10%);
   color: var(--support-color-2);
   border-radius: 5px;
   height: 4.5%;

}
footer p{
    color: var(--support-color-4);
    font-size:clamp(6px, 1vw + 1vh + 0.2vmin, 18px);
    margin-left: 15px;
    font-style: italic;
    text-shadow: 0px 0px 0.4px var(--support-color-2);
    
}
footer #iconNG{
    width: 6.8%;
    margin-left: 10px;
    
    margin-bottom: -4px;
    filter: sepia(100%) hue-rotate(100deg);
  
  
}
























/* MEDIA QUERI */
@media only screen and (max-width: 1024px) {
    /* Estilos para tablets */

#logo img{
    transform: scale(50%);}








header{
    height: 60px;
}


  }