<header>
<ul>
    <li><a [routerLink]="['/about-me']" routerLinkActive="router-link-active" >About Me</a></li>
    <li><a [routerLink]="['/technologies']" routerLinkActive="router-link-active" >Technologies</a></li>   
    <li id="logo"><img src="../assets/img/RL-Logo-Grey.png" alt="logo"></li>
    <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >My Projects</a></li>  
    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Me</a></li>
</ul>
</header>



<section id="content">
 

 <router-outlet></router-outlet> 

</section>





<footer>

<p>Roberto Lago personal's portfolio</p>
<p>Website made with Angular 17  <img src="../favicon.ico" alt="angIcon" id="iconNG"></p>

</footer>