<header>

   
<ul>
    
    <li><a class="link" [routerLink]="['/about-me']" routerLinkActive="router-link-active" >About Me</a></li>
    <li><a class="link" [routerLink]="['/technologies']" routerLinkActive="router-link-active" >Technologies</a></li>   
    
    <li><a class="link" [routerLink]="['/projects']" routerLinkActive="router-link-active" >My Projects</a></li>  
    <li><a class="link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Me</a></li>
    <li id="cv"><a href="#">CV<i class="fa-solid fa-file-arrow-down icono"></i></a></li>
    <li><a id="menuButton" #menuButton href=""><i class="fa-solid fa-bars"></i></a></li>
</ul>

</header>



<section id="content">
 

 <router-outlet></router-outlet> 

</section>

<app-phone-menu *ngIf="showPhoneMenu"></app-phone-menu>


<footer>


<p>Website made with Angular 17<img src="../favicon.ico" alt="angIcon" id="iconNG"></p>

</footer>