:root{
    --main-color: #212121;
    --second-color: #757575;
    --support-color-1:#FFF9C4;
    --support-color-2:#757575;
    --support-color-3:#BDBDBD;
    --support-color-4:#692424;
 
    --text-color: #212121;
 }
 





h1{
   padding-top: 2%;
}

#projects{
    position: relative;
    display: grid;
    grid-template-columns: 7.5fr 2fr;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    
}
#projects a{
   text-decoration: none;
   
   color: var(--support-color-4);
}
.texts{
    margin-left: 10%;
}


.images img{
    display: flex;
    align-items: center;
    width: 25%; 
    padding: none;
    margin: 0px auto;
    margin-top: 4px;
    border: 2px solid black;
}