<h1>Here there are some of my projects</h1>


<section id="projects">
<div class="texts" id="Web1">
<h2>My own restaurant webpage:</h2>
<p>I have my own independient business so I decided to create its website. Using just the basics-- HTML5, CSS, and vanilla JS-- I made a simple but usefull and responsive website. It's already working, and I update it from time to timeI have my own independient business so I decided to create its website. Using just the basics-- HTML5, CSS, and vanilla JS-- I made a simple but usefull and responsive website. It's already working, and I update it from time to timeI have my own independient business so I decided to create its website. Using just the basics-- HTML5, CSS, and vanilla JS-- I made a simple but usefull and responsive website. It's already working, and I update it from time to time</p>
<a href="https://rlg94.github.io/Complete-bar-Website/" target="_blank" >Bar website on GitHub Pages</a>
</div>

<div class="images">
    <img src="../../../assets/img/logo.jpg" alt="">
    <img src="../../../assets/img/logo.jpg" alt="">
    <img src="../../../assets/img/logo.jpg" alt="">
</div> 


<div class="texts" id="Web2">
<h2>JQuery blog-style website:</h2>
<p>Website in a blog style where I primarily applied jQuery and jQuery UI functionalities to familiarize myself with the library. It includes additional features like a simulated login interacting with LocalStorage and Fetch requests
    Website in a blog style where I primarily applied jQuery and jQuery UI functionalities to familiarize myself with the library. It includes additional features like a simulated login interacting with LocalStorage and Fetch requests
    Website in a blog style where I primarily applied jQuery and jQuery UI functionalities to familiarize myself with the library. It includes additional features like a simulated login interacting with LocalStorage and Fetch requests

</p>
<a href="https://rlg94.github.io/Web-JQuery/">JQuery on GitHub Pages</a>
</div>

<div class="images">
    <img src="../../../assets/img/logo.jpg" alt="">
    <img src="../../../assets/img/logo.jpg" alt="">
    <img src="../../../assets/img/logo.jpg" alt="">
</div> 



</section>

