h1{
   padding-top: 2%;
}

#projects{
    position: relative;
    display: grid;
    grid-template-columns: 7.5fr 2fr;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    
}
.texts{
    margin-left: 10%;
}


.images img{
    display: flex;
    width: 25%; 
    padding: none;
    margin: 0px auto;
    border: 2px solid black;
}